<div class="container mt-5">
    <h2 class="text-center">Fibonacci Calculator</h2>

    <form (ngSubmit)="onSubmit()" class="d-flex gap-2 justify-content-center mt-3">
        <input type="number" [(ngModel)]="index" name="index" class="form-control w-25" placeholder="Enter index" />
        <button class="btn btn-primary" type="submit">
            Submit
        </button>
    </form>

    <div class="mt-4 text-center">
        <h4>Indices seen:</h4>
        <p>{{ seenIndicesDisplay }}</p>
    </div>

    <div class="mt-4 col-sm text-center">
        <h4>Calculated Values:</h4>
        <div *ngFor="let value of valuesDisplay" class="alert alert-info">
            {{ value }}
        </div>
    </div>
</div>